<root id="-1">
  <SiteRoot id="1069" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-12-12T13:23:29" updateDate="2016-09-01T16:45:19" nodeName="Example Site" urlName="example-site" path="-1,1069" isDoc="" nodeType="1068" creatorName="admin" writerName="james" writerID="18" template="1067" nodeTypeAlias="SiteRoot">
    <Homepage id="1072" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2014-12-15T10:01:20" updateDate="2016-08-30T10:16:30" nodeName="Homepage" urlName="homepage" path="-1,1069,1072" isDoc="" nodeType="1071" creatorName="admin" writerName="fred" writerID="15" template="1067" nodeTypeAlias="Homepage" />
    <Content id="2552" parentID="1069" level="2" creatorID="11" sortOrder="10" createDate="2015-05-22T12:10:22" updateDate="2016-05-18T05:44:15" nodeName="Content" urlName="content" path="-1,1069,2552" isDoc="" nodeType="1139" creatorName="sally" writerName="admin" writerID="0" template="1067" nodeTypeAlias="Content">
      <dateField><![CDATA[2015-05-22T12:10:22]]></dateField>
      <boolFieldFalse>0</boolFieldFalse>
      <boolFieldTrue>1</boolFieldTrue>
      <intField>2048</intField>
      <xmlField><nodes><node>1</node><node>2</node><node>3</node></nodes></xmlField>
      <stringField><![CDATA[This is a long string with special < > characters.]]></stringField>
    </Content>
    <CategoryPage id="1239" parentID="1069" level="2" creatorID="0" sortOrder="13" createDate="2015-03-25T13:42:15" updateDate="2016-03-01T05:39:24" nodeName="News" urlName="news" path="-1,1069,1239" isDoc="" nodeType="1151" creatorName="admin" writerName="admin" writerID="0" template="1067" nodeTypeAlias="CategoryPage">
      <DateFolder id="2447" parentID="1239" level="3" creatorID="0" sortOrder="0" createDate="2015-05-13T12:10:32" updateDate="2015-05-13T12:10:32" nodeName="Oct 2014" urlName="oct-2014" path="-1,1069,1239,2447" isDoc="" nodeType="1184" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="DateFolder">
        <dateField><![CDATA[2015-05-13T12:10:32]]></dateField>
        <boolField>1</boolField>
        <Article id="2448" parentID="2447" level="4" creatorID="10" sortOrder="0" createDate="2015-05-13T12:10:33" updateDate="2015-10-22T07:42:08" nodeName="People with No or Bad Credit Score" urlName="people-with-no-or-bad-credit-score" path="-1,1069,1239,2447,2448" isDoc="" nodeType="1118" creatorName="angela" writerName="admin" writerID="0" template="1067" nodeTypeAlias="Article">
          <umbracoUrlName>people-with-bad-credit-score</umbracoUrlName>
          <articleTitle><![CDATA[The Financial Prospects for People with No or Bad Credit Score]]></articleTitle>
          <writeOff><![CDATA[Lenders are providing loans without credit check with the purpose of keeping finances safe of their clients from any disturbance. They provide loans on quick approval to the people, irrespective of their credit scores.]]></writeOff>
          <authors><![CDATA[Angela Albert]]></authors>
        </Article>
        <Article id="2499" parentID="2447" level="4" creatorID="10" sortOrder="1" createDate="2015-05-15T10:30:43" updateDate="2015-06-18T16:38:31" nodeName="Make a Wise Decision by Comparing Price Online" urlName="make-a-wise-decision-by-comparing-price-online" path="-1,1069,1239,2447,2499" isDoc="" nodeType="1118" creatorName="anish" writerName="anish" writerID="10" template="1067" nodeTypeAlias="Article">
          <umbracoUrlAlias>news/make-a-wise-decision,news/wise-decisions</umbracoUrlAlias>
          <articleTitle><![CDATA[Make a Wise Decision by Comparing Price Online]]></articleTitle>
          <writeOff><![CDATA[We all live in a rocket science world where we are well versed with innovative technology, modern electronic gadgets and this online supersonic life. We walk talk, eat, sleep online.]]></writeOff>
          <authors><![CDATA[Anish Asood]]></authors>
        </Article>
      </DateFolder>
    </CategoryPage>
  </SiteRoot>
</root>