<root id="-1">
  <SiteRoot id="1069" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-12-12T13:23:29" updateDate="2016-09-01T16:45:19" nodeName="Example Site" urlName="example-site" path="-1,1069" isDoc="" nodeType="1068" creatorName="admin" writerName="james" writerID="18" template="1067" nodeTypeAlias="SiteRoot">
    <Homepage id="1072" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2017-05-16T08:55:20.4171241+10:00" updateDate="2016-08-30T10:16:30" nodeName="Homepage" urlName="homepage" path="-1,1069,1072" isDoc="" nodeType="1071" creatorName="admin" writerName="fred" writerID="15" template="1067" nodeTypeAlias="Homepage" />
  </SiteRoot>
</root>